*.bin./.git/hooks/applypatch-msg.sample

PS1/data
PS1/serial
PS1/parallel
PS1/plots

PS2/data
PS2/serial
PS2/parallel
PS2/plots

PS3/data
PS3/serial
PS3/pthreads
PS3/omp
PS3/plots

PS4/data
PS4/serial
PS4/parallel
PS4/plots

PS5/data
PS5/serial
PS5/parallel
PS5/plots
